body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  /* background:  #5c8fa5; */
  background-size: cover;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
